.fondo-rojo {
    /* fondo: #5BF527 */
    /* altura: 300px */
    /* ancho: 500px */
    /* flex: centrado */
    background-color: #5BF527;
    width: 500px;
    height: 300px;
    display: flex;
    justify-content: center; /* Puedes agregar más código */
    align-items: center;
}




.list-element {
    font-size: 23px;
    background-color: yellow;
    font-weight: bold;
    font-style: italic;
}